  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body{
    width: 100%;
    height: 100%;
  }
  #main{
    height: 100%;
    width: 100%;
    background-color: white;
  }
  #nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 30px;
  }
  #nav h4{
    font-size: 25px;
    font-weight: 600;
  }
  #nav i{
     background-color: black;
    border-radius: 50%;
    font-size: 20px;
    padding: 8px;
    color: white;
    font-weight: 500;

  }
  #center{
    width: 100%;
    padding: 30px 80px;
    
  }
  #center h1{
    font-size: 4.6vw;
   font-weight: 500;
   line-height: 4.5vw;

  }
  #center-in{
    height: 200px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  #center-in p{
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 1.6vw;
  }
  #right{
    width: 20%;
  }
  .elem{
    padding: 20px 0px;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
  }
  .elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
  }
  .elem:hover i{
    opacity: 1;
  }
  .elem:hover a{
    text-decoration: underline;
  }
  #bottom{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    display: flex;
    padding-bottom: 2px;
  }
   #bottom img{
   margin: 50px;
   padding-left: 100px;
   width: 50%;
   }
  @media (max-width:600px) {
  #nav{
    height: 50px;
    width: 100%;
  }
  #center{
    width: 100%;
    padding: 15px 60px;
  }
  #center h1{
    font-size: 9vw;
   font-weight: 500;
   line-height: 10vw;

  }
  #center-in{
    /* background-color: red; */
    /* height: 180px; */
    width: 100%;
    margin-top: 18px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
  }
  #center-in p{
    font-size: 4vw;
    font-weight: 600;
    line-height: 5vw;
  }
  #right{
    width: 100%;
    /* display: flex; */
  }
  .elem{
    padding: 10px 0px;
    border-top: 1.8px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .elem i{
    font-size: 20px;
    font-weight: 500;
    opacity: 1;
  }
  .elem a{
    color: #303030;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
  }
  #bottom{
    height: 55%;
    width: 96%;
    display: flex;
    flex-direction: column;
    padding:0;
    margin-top: 90px;
  }
   #bottom img{
   width: 100%;
   object-fit:cover;
   padding: 0px;
   margin: 10px;


   }
 
    
  }
